.navbar_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0B0819;
    width: 100%;
    height: 69px;
    padding-left: 20px;
    padding-right: 70px;
}

.link_container {
    display: flex;
    align-items: center;
}

.nav_links {
    list-style: none;
    color: #5A5A5A;
    font-weight: 600;
    border-radius: 18px;
    padding: 0 50px;
    cursor: pointer;
}

.active_link {
    color: #627EEA;
    position: relative;
}

.active_link::after {
    list-style-type: none;
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: #627EEA;
    left: 0;
    bottom: -24px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    animation: appear 0.1s linear;
}

@keyframes appear {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}



.nav_button {
    background: linear-gradient(94.37deg, #3387D5 -5.94%, #7A06C9 115.34%),
        linear-gradient(151.31deg, #FFFFFF -57.71%, rgba(255, 255, 255, 0) 82.32%);
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 30px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

@media(max-width:1040px){
    .navbar_container {
       padding: 0 20px;
    }
    .nav_links {
       font-size: 12px;
       padding: 0 20px;
    }
    .nav_button {
        font-size: 12px;
    }
}

@media(max-width:700px){
    .navbar_container >img{
       width: 140px;
       height: 60px;
    }
    .nav_links {
        padding: 0 10px;
     }
}

@media(max-width:540px){
    .navbar_container >img{
       width: 80px;
       height: 40px;
    }
    .nav_links {
        padding: 0 8px;
     }
     .nav_button {
        padding: 10px 8px;
        font-size: 10px;
    }
    .navbar_container {
        padding: 0 8px;
     }
}
